
  <div class="centerDiv"> 
    <mat-card>
      <!-- <mat-card-header>
        <mat-card-title>
            Madras Institute of Technology
        </mat-card-title>
      </mat-card-header>
      <br> -->
      <mat-card-content>
       <img style="border-radius: 10px;" src="../../assets/SkillsImages/MIT Campus.jpg" mat-card-image width="320px" height="200px" />
      </mat-card-content>
    </mat-card>  
    <mat-card>
      <!-- <mat-card-header>
        <mat-card-title>AKT Academy Matric Hr. Sec School</mat-card-title>
      </mat-card-header>
      <br> -->
      <mat-card-content>
        <img style="border-radius: 10px;" src="../../assets/SkillsImages/akt.jpg" mat-card-image width="320px" height="200px" />
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <!-- <mat-card-header >
        <mat-card-title>Atchaya Mandir Hr. Sec. School </mat-card-title>
      </mat-card-header>
      <br> -->
      <mat-card-content>
        <img style="border-radius: 10px;" src="../../assets/SkillsImages/atchaya.jpg" mat-card-image  width="320px" height="200px"/>
      </mat-card-content>
      
    </mat-card>
  </div>