

 
  <div  style="padding-top: 20px;" class="container"> 
  <mat-card>
    <mat-card-header class="cardHeader">
      <mat-card-title>Angular</mat-card-title>
    </mat-card-header>
   
    <mat-card-content>
      <img mat-card-image style="height: 170px;" src="../../assets/SkillsImages/angularjpg.jpg" mat-card-image>
    </mat-card-content>
  </mat-card>  
  <mat-card>
    <mat-card-header class="cardHeader">
     
      <mat-card-title>C#</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/SkillsImages/c png.jpg" mat-card-lg-image />
    </mat-card-content>
  </mat-card>
  
  <mat-card>
    <mat-card-header class="cardHeader">
      <mat-card-title>.NET</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <img src="../../assets/SkillsImages/net-png-1-1.jpg" mat-card-lg-image/>
    </mat-card-content>
    <mat-card-footer>
      <P style="font-weight: bold;">ASP.NET CORE | ASP.NET MVC | ASP.NET WebAPI</P>
    </mat-card-footer>
  </mat-card>
</div>

<div class="container"> 
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>HTML,CSS and JS</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/SkillsImages/HTMLCSSJS.jpg" mat-card-image width="250px" />
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>TypeScript</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       <img src="../../assets/SkillsImages/types.jpg" mat-card-lg-image />
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>SQL</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <img src="../../assets/SkillsImages/sql.jpg" mat-card-lg-image />
      </mat-card-content>
    </mat-card>
  </div>
    
<div class="container">
     <mat-card >
      <mat-card-header class="cardHeader">
        <mat-card-title>MongoDB</mat-card-title>
      </mat-card-header>
      <mat-card-content>
       <img src="../../assets/SkillsImages/mongodb.jpg"  mat-card-lg-image/>
      </mat-card-content>
    </mat-card>
    
    <mat-card >
      <mat-card-header class="cardHeader">
        <mat-card-title>C++</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/SkillsImages/c++ (1).jpg"  mat-card-lg-image/>
      </mat-card-content>
    </mat-card>
    
    <mat-card>
      <mat-card-header class="cardHeader">
        <mat-card-title>Java(Basics)</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <img src="../../assets/SkillsImages/java.jpg" mat-card-lg-image/>
      </mat-card-content>
    </mat-card>
  </div>

     
     