
mat-card {
    margin: 25px;
    width: 25%;
    display: inline-block;
    height: 280px;
    text-align: center;
    background-color: rgb(197, 106, 36);
    border-radius: 40px;
    border-color:rgb(0, 11, 11);
  }
  .centerDiv{
    display: flex;
    justify-content: center;
  }

  .cardHeader{
    display: flex;
   
    justify-content: center;
  }

  

  